################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/.vs/YandexInterview/v15
/YandexInterview.vcxproj.user
/YandexInterview.vcxproj.filters
/YandexInterview.vcxproj
/YandexInterview.sln
